# Ignore all .log files
*.log

# Ignore target directory
target/

# Ignore IDE specific files
.idea/
*.iml

# Ignore compiled classes
*.class

# Ignore test results
test-output/

# Ignore metadata
.metadata/
